
* {
    margin: 0;
    padding: 0;
}

.topheader {
    background-color: darkgray;
    padding: 50px;
}

.menu {
    list-style: none;
    padding: 30px;
    text-transform: lowercase;
}

/*Descendant selector*/
.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    padding: 10px;
    color:#edf6ff;
}

.mainSection {
    padding: 50px;
}

#blurb {
    width: 50%;
    margin: auto;
}

body {
    background-color: #151515;
    text-align: center;
    color: #edf6ff;
}

h1 {
    font-size: 70px;
    padding: 20px;
}

h2 {
    font-size: 30px;
    padding: 20px;
}

img {
    display: block;
    margin: auto;
    width: 50%;
    padding: 30px;
}

footer {
    margin-top: 20px;
    padding: 40px;
    background-color: darkgray;
}